@font-face
  font-family: 'Museo Sans Cyrl'
  src: url('../FONTS/MuseoSans/MuseoSansCyrl-500.eot')
  src: local('../FONTS/MuseoSans/MuseoSansCyrl-500'),
		url('../FONTS/MuseoSans/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('../FONTS/MuseoSans/MuseoSansCyrl-500.woff') format('woff'),
		url('../FONTS/MuseoSans/MuseoSansCyrl-500.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Museo Sans Cyrl'
  src: url('../FONTS/MuseoSans/MuseoSansCyrl-300.eot')
  src: local('../FONTS/MuseoSans/MuseoSansCyrl-300'),
		url('../FONTS/MuseoSans/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
		url('../FONTS/MuseoSans/MuseoSansCyrl-300.woff') format('woff'),
		url('../FONTS/MuseoSans/MuseoSansCyrl-300.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Museo Sans Cyrl'
  src: url('../FONTS/MuseoSans/MuseoSansCyrl-700.eot')
  src: local('../FONTS/MuseoSans/MuseoSansCyrl-700'),
		url('../FONTS/MuseoSans/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		url('../FONTS/MuseoSans/MuseoSansCyrl-700.woff') format('woff'),
		url('../FONTS/MuseoSans/MuseoSansCyrl-700.ttf') format('truetype')
  font-weight: 700
  font-style: normal

*
  font-family: 'Museo Sans Cyrl', sans-serif

.button
  display: flex
  justify-content: center
  align-items: center
  background: $main-color
  border-radius: 5px

.container
  max-width: 1140px
  margin: 0 auto

